.products {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-block {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.no-products-message {
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
  font-weight: bold;
}

.products-loader {
  margin: 50px 50%;
}
