<div *ngIf="!isProductsListEmpty; else noProductsMessage">
  <div class="products"
       *ngIf="products.length > 0; else productsLoading">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
  </div>

  <ngb-pagination [collectionSize]="allProductsCount" [(page)]="currentPage" [pageSize]="pageSize"
                  size="lg" aria-label="Products pagination"
                  class="pagination-block"
                  (pageChange)="getNextProducts()">
  </ngb-pagination>

  <ng-template #productsLoading>
    <div class="spinner-border products-loader" role="status"></div>
  </ng-template>
</div>

<ng-template #noProductsMessage>
  <p class="no-products-message">There are no products</p>
</ng-template>
