@import 'src/app/shared/global-variables.scss';

.product {
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid $opacity-primary-color;
  .discount-label {
    position: absolute;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    background-color: red;
    color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    font-weight: bold;
  }
  img {
    margin: 40px;
    width: 200px;
    height: 200px;
  }
  p {
    padding-left: 20px;
  }
  .product-price {
    font-size: 22px;
    font-weight: bold;
  }
  .discount-price {
    color: red;
  }
  .product-name {
    padding: 0 20px;
    max-width: 200px;
    height: 100px;
  }
}
