<div class="product">
  <div *ngIf="product.discount > 0" class="discount-label">{{product.discount}}%</div>
  <img src="{{product.photoPath}}" alt="product image">
  <p *ngIf="product.discount == 0" class="product-price">{{product.price}} &#8372;</p>
  <p *ngIf="product.discount > 0" class="product-price discount-price">{{product.price}} &#8372;</p>
  <p class="product-name">{{product.name}}</p>
  <div class="bottom-panel">
    <div class="weight">{{product.weight}} {{product.weightMeasurement}}</div>
    <button class="btn btn-primary" (click)="onShowProductFullInfoClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>
    </button>
  </div>
</div>


<!-- show full info product in a modal window -->
<!--<app-show-product-window [product]="fullProduct"></app-show-product-window>-->

