<div class="product">
  <div *ngIf="product.discount > 0" class="discount-label">{{product.discount}}%</div>
  <img src="{{product.photoPath}}" alt="product image">
  <div class="d-flex justify-content-between">
    <div>
      <p *ngIf="product.discount == 0" class="product-price">{{product.price}} &#8372;</p>
      <p *ngIf="product.discount > 0" class="product-price discount-price">{{product.price}} &#8372;</p>
    </div>
    <div class="order-btn"  *ngIf="!isProductOrdered">
      <button  *ngIf="!isUserAuthenticated"
        class="btn btn-primary" ngbTooltip="Login to buy!" triggers="click:blur">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
        </svg>
      </button>
      <button  *ngIf="isUserAuthenticated" class="btn btn-primary"
      (click)="OnBuyProductClock()">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
        </svg>
      </button>
    </div>


    <!-- put / remove product from basket-->
    <div class="product-order-count-block" *ngIf="isProductOrdered">
      <div class="count-form">
        <button class="btn btn-primary" (click)="onDeleteProductFromBasketClick()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg>
        </button>

        <input #productCountField type="number"
               class="product-count-input form-control" min="0" max="100" value="1">

        <button class="btn btn-primary" (click)="onAddToBasketClick(productCountField.value)">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
        </button>
      </div>
      <div class="invalid-count-msg text-danger mt-2" *ngIf="isInvalidCountMessage && !isSuccessCountMessage">
        {{invalidCountMessageText}}
      </div>
      <div class="success-count-msg text-success mt-2" *ngIf="isSuccessCountMessage && !isInvalidCountMessage">
        {{successCountMessageText}}
      </div>
    </div>




  </div>
  <p class="product-name">{{product.name}}</p>
  <div class="bottom-panel">
    <div class="weight">{{product.weight}} {{product.weightMeasurement}}</div>
    <button class="btn btn-primary show-product-btn" (click)="onShowProductFullInfoClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>
    </button>
  </div>
</div>

