<div class="product">
  <div *ngIf="product.discount > 0" class="discount-label">{{product.discount}}%</div>
  <img src="{{product.photoPath}}" alt="product image">
  <div class="d-flex justify-content-between">
    <div>
      <p *ngIf="product.discount == 0" class="product-price">{{product.price}} &#8372;</p>
      <p *ngIf="product.discount > 0" class="product-price discount-price">{{product.price}} &#8372;</p>
    </div>
    <div class="order-btn"  *ngIf="!isProductOrdered">
      <button  *ngIf="!isUserAuthenticated"
        class="btn btn-primary" ngbTooltip="Login to buy!" triggers="click:blur">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
        </svg>
      </button>
      <button  *ngIf="isUserAuthenticated" class="btn btn-primary"
      (click)="OnBuyProductClock()">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
        </svg>
      </button>
    </div>


    <div class="product-order-count-block" *ngIf="isProductOrdered">
      <div class="count-form">
        <input #productCountField type="number"
               class="product-count-input form-control" min="0" max="100" placeholder="count">
        <button class="btn btn-primary" (click)="onAddToBasketClick(productCountField.value)">To basket</button>
      </div>
      <div class="invalid-count-msg text-danger mt-2" *ngIf="isInvalidCountMessage && !isSuccessCountMessage">
        {{invalidCountMessageText}}
      </div>
      <div class="success-count-msg text-success mt-2" *ngIf="isSuccessCountMessage && !isInvalidCountMessage">
        {{successCountMessageText}}
      </div>
    </div>


<!--    works-->
<!--    <div class="product-order-count"  *ngIf="isProductOrdered">-->
<!--      <button class="btn btn-primary" (click)="onReduceProductCountValueClick(productCountField.value)">-</button>-->
<!--            <input #productCountField [value]="productCountValue"-->
<!--                   type="number"  class="product-count-input form-control" min="1" max="999"-->
<!--                   (input)="onProductCountFieldChange(productCountField.value)">-->
<!--      <button class="btn btn-primary" (click)="onIncreaseProductCountValueClick(productCountField.value)">+</button>-->
<!--    </div>-->

  </div>
  <p class="product-name">{{product.name}}</p>
  <div class="bottom-panel">
    <div class="weight">{{product.weight}} {{product.weightMeasurement}}</div>
    <button class="btn btn-primary show-product-btn" (click)="onShowProductFullInfoClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>
    </button>
  </div>
</div>

