@import 'src/app/shared/global-variables.scss';

.product {
  margin: 20px;
  border: 1px solid $opacity-primary-color;
  box-shadow: 0 1px 10px 2px $shadow-primary-color;
  .labels {
    margin-top: 20px;
    margin-bottom: -30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .discount-label {
      padding: 10px 15px 10px 15px;
      font-size: 18px;
      background-color: $bootstrap-danger-color;
      color: white;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      font-weight: bold;
    }
    .discount-label-fake {
      padding: 10px 15px 10px 15px;
      font-size: 18px;
      background-color: white;
      color: white;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      font-weight: bold;
    }
    .favorite-label {
      margin-right: 20px;
      color: $bootstrap-danger-color;
    }
    .favorite-label:hover {
      cursor: pointer;
    }
  }
  .discount-label-similar {
    margin-top: 20px;
    position: absolute;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    background-color: $bootstrap-danger-color;
    color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    font-weight: bold;
  }
  img {
    margin: 40px;
    width: 200px;
    height: 200px;
  }
  p {
    padding-left: 20px;
  }
  .product-price {
    font-size: 22px;
    font-weight: bold;
  }
  .discount-price {
    color: $bootstrap-danger-color;
  }
  .order-btn {
    margin-right: 20px;
    margin-top: -70px;
    button {
      padding: 10px 20px;
    }
  }
  .product-order-count-block {
      margin-top: -70px;
      margin-right: 20px;
      height: 40px;
    .count-form {
      display: flex;
      .product-count-input {
        width: 80px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid $main-primary-color;
      }
    }

  }
  .product-name {
    margin-top: 10px;
    padding: 0 20px;
    max-width: 260px;
    height: 100px;
  }

  .bottom-panel {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    .weight {
      margin-top: 20px;
    }
  }
}
