<form class="registration-form mt-5" [formGroup]="form">
  <div class="mb-3">
    <label for="inputFullName" class="form-label">Full name</label>
    <input type="text" class="form-control"
           formControlName="fullName" id="inputFullName" aria-describedby="emailHelp">
    <div *ngIf="form.controls['fullName'].errors">
      <div *ngIf="form.controls['fullName'].errors['required']"
           class="form-text text-danger">Field is required
      </div>
      <div *ngIf="form.controls['fullName'].errors['pattern']"
           class="form-text text-danger">English letters only, space (2-74 symbols)
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email</label>
    <input class="form-control"
           formControlName="email" id="inputEmail">
    <div *ngIf="form.controls['email'].errors">
      <div *ngIf="form.controls['email'].errors['required']"
           class="form-text text-danger">Field is required
      </div>
      <div *ngIf="form.controls['email'].errors['email']"
           class="form-text text-danger">Email is incorrect
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="inputBirth" class="form-label">Date of birth (format dd/mm/yyyy)</label>
    <input class="form-control"
           formControlName="dateOfBirth" id="inputBirth">
    <div *ngIf="form.controls['dateOfBirth'].errors">
      <div *ngIf="form.controls['dateOfBirth'].errors['required']"
           class="form-text text-danger">Field is required
      </div>
      <div *ngIf="form.controls['dateOfBirth'].errors['pattern']"
           class="form-text text-danger">Date of birth must be in format (dd/mm/yyyy), only digits
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="inputLogin" class="form-label">Login (username)</label>
    <input type="text" class="form-control"
           formControlName="username" id="inputLogin" aria-describedby="emailHelp">
    <div *ngIf="form.controls['username'].errors">
      <div *ngIf="form.controls['username'].errors['required']"
           class="form-text text-danger">Field is required
      </div>
      <div *ngIf="form.controls['username'].errors['pattern']"
           class="form-text text-danger">English letters only, digits, symbols _.^! (2-36 symbols)
      </div>
    </div>
  </div>
  <div class="mb-5">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control"
           formControlName="password" id="inputPassword">
    <div *ngIf="form.controls['password'].errors">
      <div *ngIf="form.controls['password'].errors['required']"
           class="form-text text-danger">Field is required
      </div>
      <div *ngIf="form.controls['password'].errors['pattern']"
           class="form-text text-danger">English letters only, digits, symbols _#@.^! (4-36 symbols)
      </div>
    </div>
  </div>


  <div class="error-block mb-4" *ngIf="isRegistrationError">
    {{errorMessage}}
  </div>




  <div class="mt-5">
    <button [disabled]="!form.valid"
            (click)="onRegisterClick()"
            class="btn btn-warning">Register
    </button>
    <button (click)="onBackClick()"
            class="btn btn-warning btn-back">Back
    </button>
  </div>
</form>
