<div class="content">

  <!-- categories list -->
  <div class="categories list-group flex-grow-5" *ngIf="categoriesList as categories">
    <div *ngIf="categories.length > 0; else categoriesLoading">
      <button type="button" class="category list-group-item list-group-item-action"
              *ngFor="let category of categories"
              (click)="onCategoryClick(category.id)"
              [class.selected]="category.id === selectedCategoryId">
        {{category.name}}
      </button>
    </div>
  </div>


  <ng-template #categoriesLoading>
    <div *ngIf="!isConnectionError"
         class="spinner-border categories-loader" role="status">
    </div>
  </ng-template>

  <div class="connection-error" *ngIf="isConnectionError">
    <h4 class="connection-error">Connection error</h4>
  </div>



  <!-- hello text -->
  <div class="products-list flex-grow-1">
      <div *ngIf="selectedCategoryId == 0" class="wrapper">
        <h1 class="title" data-text="Welcome">Welcome</h1>
        <h1 class="title" data-text="to">to</h1>
        <h1 class="title" data-text="EasyFood">EasyFood</h1>
      </div>



    <!-- products list by selected category -->
    <div *ngIf="selectedCategoryId != 0" class="products">
      <div *ngIf="!isProductsListEmpty; else noProductsMessage">
        <div class="products"
             *ngIf="products.length > 0; else productsLoading">
          <app-product *ngFor="let product of products" [product]="product"></app-product>
        </div>

        <ngb-pagination [collectionSize]="allProductsCount" [(page)]="currentPage" [pageSize]="pageSize"
                        size="lg" aria-label="Products pagination"
                        class="pagination-block"
                        (pageChange)="getNextProducts()">
        </ngb-pagination>

        <ng-template #productsLoading>
          <div class="spinner-border products-loader" role="status"></div>
        </ng-template>
      </div>


      <ng-template #noProductsMessage>
        <p class="no-products-message">There are no products</p>
      </ng-template>
    </div>
  </div>
</div>




