@import 'src/app/shared/global-variables.scss';

.modal-body {
  .clear-basket-btn {
    text-align: center;
    margin: 10px 0 20px 0;
  }
  .no-products-message {
    text-align: center;
    margin-top: 40px;
    font-size: 26px;
    font-weight: bold;
  }
  .products-loader {
    margin: 50px 50%;
  }
}



.modal-footer {
  justify-content: space-between;
  .general-price {
    font-size: 26px;
    margin-left: 20px;
    color: $bootstrap-success-color;
    .total-label {
      color: black;
      font-size: 18px;
    }
  }
  .cancel-btn {
    margin-right: 10px;
  }
  .cancel-btn:hover {
    background-color: $bootstrap-secondary-color;
    color: white;
  }
  .confirm-btn:hover {
    background-color: $warning-color;
    color: black;
  }
}


.success-order-message-container {
  text-align: center;
  margin: 20px 10px 10px 10px;
  .success-order-message {
    color: $bootstrap-success-color;
    font-size: 22px;
    font-weight: bold;
  }
}


@media (max-width: 1000px) {
  .modal-footer {
    flex-direction: column;
    .general-price, .buttons {
      margin-top: 30px;
      margin-left: 0;
    }
    #phoneNumberForm {
      margin-top: 30px;
      .error-label {
        text-align: center;
      }
    }
    .buttons {
      margin-top: 30px;
      .confirm-btn {
        margin-left: 20px;
      }
    }
  }
}


