<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Basket</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div *ngIf="!isProductsListEmpty; else noProductsMessage">
      <div class="clear-basket-btn">
        <button class="btn btn-danger" (click)="onClearBasketClick()">Clear basket</button>
      </div>
      <hr>
      <div class="products"
           *ngIf="products.length > 0; else productsLoading">
        <app-basket-product *ngFor="let product of products"
                            [product]="product"
                            (productRemovingEvent)="onRemoveProductEvent($event)"
                            (productPriceChangedEvent)="onProductPriceChangedEvent()">
        </app-basket-product>
      </div>

      <ng-template #productsLoading>
        <div class="spinner-border products-loader" role="status"></div>
      </ng-template>
    </div>

    <ng-template #noProductsMessage>
      <p class="no-products-message">There are no products yet</p>
    </ng-template>
</div>
<div class="modal-footer">
  <div class="general-price"><span class="total-label">Total:</span> {{basketPrice}} &#8372;</div>
  <div id="phoneNumberForm">
    <form class="d-flex" [formGroup]="form">
      <input class="phone-number-input form-control" #phoneNumberField type="text"
             placeholder="phone number" aria-label="PhoneNumber" formControlName="phoneNumber">
    </form>
    <div *ngIf="form.controls['phoneNumber'].errors" class="error-label">
      <div *ngIf="form.controls['phoneNumber'].errors['required']"
           class="form-text text-danger">field is required
      </div>
      <div *ngIf="form.controls['phoneNumber'].errors['pattern']"
           class="form-text text-danger">example: 0934094350
      </div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-outline-dark cancel-btn" (click)="modal.close('Cancel click')">Cancel</button>
    <button *ngIf="!isProductsListEmpty"
      type="button" class="btn btn-outline-dark confirm-btn"
            [disabled]="!form.valid" (click)="onConfirmOrderClick(phoneNumberField.value)">Confirm</button>
  </div>
</div>

<div class="success-order-message-container" *ngIf="showSuccessOrderMessage">
  <p class="success-order-message">Order accepted, our employee will contact you soon! Your orders <a href="/user-profile">here</a></p>  <!--  + link_to_orders-->
</div>
