@import 'src/app/shared/global-variables.scss';


#profileLink {
  display: none;
}
#basketLink {
  display: none;
}
#adminPanelLink {
  display: none;
}
.basket-btn {
  // don't change when click
  color: $main-primary-color !important;
  padding-left: 20px;
  padding-right: 20px;
  span {
    background-color: $main-primary-color !important;
    color: white !important;
  }
}
