<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="headerElement">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EasyFood</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/products-filter" routerLinkActive="active"
             class="nav-link" id="filterLink">Filter</a>
        </li>
        <li class="nav-item">
          <a routerLink="/user-profile" routerLinkActive="active"
             class="nav-link" id="profileLink">Profile</a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-warning basket-btn" id="basketLink"
            (click)="onShowBasketClick()">Basket
            <span class="badge badge-primary" id="countProductsInBasketBadge"></span>
          </button>
        </li>
        <li class="nav-item">
          <a routerLink="/admin-panel" routerLinkActive="active"
             class="nav-link" id="adminPanelLink">Admin panel</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link"
             id="loginLink">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/registration" routerLinkActive="active"
             class="nav-link" id="registrationLink">Registration</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active"
             class="nav-link" id="logOutLink" (click)="logOut()">Log out</a>
        </li>
      </ul>
      <div id="searchHeaderForm">
        <form class="d-flex" [formGroup]="form">
          <input class="form-control me-2" #searchField type="search"
                 placeholder="Search by name" aria-label="Search" formControlName="search">
          <div class="btn-group" role="group" aria-label="outlined">
            <button [disabled]="!form.valid" (click)="btnSearchProductsClick()"
              type="button" class="btn btn-outline-light">Search
            </button>
          </div>
        </form>
        <div *ngIf="form.controls['search'].errors">
          <div *ngIf="form.controls['search'].errors['pattern']"
               class="form-text text-white">English letters only, 2-18 characters length
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

