<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <style>
        .createForm {
            font-size: 22px;
        }
        .field {
            padding: 8px;
            font-size: 22px;
        }
        .btn {
            margin: 15px;
            padding: 10px;
            background-color: orange;
            cursor: pointer;
        }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/tasks}" th:object="${task}" class="createForm">
    <label for="text">Creation: </label>
    <input type="text" th:field="*{text}" id="text"
           placeholder="Enter task text..."
           class="field">
    <div style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text Error</div>
    <input type="submit" value="Save" class="btn" />
</form>
</body>
</html>